[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accessrmd"]
	path = accessrmd
	url = https://github.com/cran/accessrmd
[submodule "ptspotter"]
	path = ptspotter
	url = https://github.com/r-leyshon/ptspotter
